 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#logo {
  margin: 20px;
}

body {
 /*background-color: #18acfe;*/
  font-family: Verdana, Geneva, Tahoma, Arial, sans-serif;
}

.main {
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: center;
}

.titulo {
  padding: 15px;
  width: center;
  margin: auto;
  text-align: center;
  color: #ffffff; 
  font-weight: bold;
}

.sub {
  color: #0A3871;
  font-weight: bold;
}

.content_Inicial {
  padding: 10px;
  margin: 0 10px 0 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 0.5em;
  width: 50vw;
  height: auto;
}

.alerta {
  font-size: smaller;
  color: gray;
}

button {
  border: 0;
  color: white;
  font-weight: bold;
  background-color: #18acfe;
  padding: 10px;
  margin-top: 10px;
  border-radius: 0.5em;
  cursor:  pointer;
  transition: 0.3s ease-in-out;
}

.button_Cripto:after {
  content: 'CRIPTOGRAFAR';
  font-size: 12px ;
}

.button_Descripto:after{
  content: 'DESCRIPTOGRAFAR';
  font-size: 12px ;
}

button:hover {
  background: rgb(255, 255, 255);
  color: #18acfe;
}

#cripto {
color: #18acfe;
font-size: 1.6rem;
width: 400px; 
height: 100px; 
}

#resultado {
color: #18acfe;
font-size: 1.6rem;
width: 400px; 
height: 100px; 
}

.content_Result {
  padding: 10px;
  margin: 0 10px 0 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 0.5em;
  width: 50vw;
  height: auto;
}

.button_Copia:after{
  content: 'COPIAR TEXTO';
  font-size: 12px ;
  width: 14vw;
}

.rodape {
  font-size: small;
  color: #ffffff;
  text-align: center;
  position: fixed;
	bottom: 1vh;
	width:100%;
}

a {
  color: rgb(255, 255, 255)
}